rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /{allPaths=**} {
      // WARNING: Open rules for local development only.
      allow read, write;
    }
  }
}


